.app {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: white;
}

.table {
  width: 500px;
  border-spacing: 0;
}

.table td {
  border: 1px solid gray;
}

.table td:first-child {
  width: 70%;
}

.table td:last-child {
  width: 30%;
  text-align: right;
}

.table .header-row {
  font-size: 16px;
  font-weight: 500;
}

.table .footer-row > td {
  border: none;
}
